@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    margin: 0;
    padding: 0;
}

@layer components {
    input[type=range]::-webkit-slider-runnable-track {
        background: theme('colors.teal');
        height: 0.25rem;
        border-radius: 1rem;
        opacity: 0.75;
    }
    input[type=range]::-moz-range-track {
        background: theme('colors.teal');
        height: 0.25rem;
        border-radius: 1rem;
        opacity: 0.75;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: theme('colors.teal');
        height: 1rem;
        width: 1rem;
        margin-top: calc(0.25rem / 2 - 1rem / 2);
        border-radius: 1rem;

    }
    input[type=range]::-moz-range-thumb {
        background: theme('colors.teal');
        height: 0.25rem;
        border-radius: 1rem;
    }
}
